:root {
  --color-text: #5D4F3C;
  --color-background: #EDEAE5;
  --color-second-background: #887C67;
  --color-title: #A88658;

  --fs-sm: clamp(0.6rem, 0.44vi + 0.49rem, 0.84rem);
  --fs-regular: clamp(0.75rem, 0.67vi + 0.59rem, 1.13rem);
  --fs-m: clamp(0.94rem, 1.01vi + 0.69rem, 1.5rem);
  --fs-l: clamp(1.17rem, 1.49vi + 0.81rem, 2rem);
  --fs-xl: clamp(1.46rem, 2.16vi + 0.94rem, 2.66rem);
  --fs-xxl: clamp(1.83rem, 3.09vi + 1.08rem, 3.55rem);
  --fs-xxxl: clamp(2.29rem, 4.4vi + 1.22rem, 4.73rem);

  --font-family: "Inria Serif",
    serif;
  --font-family-quote: "Tangerine", serif;
  --fontweight-title: 700;
  --fontweight-body: 400;

  --whitespace-s: 1vh;
  --whitespace-regular: 3vh;
  --whitespace-medium: 5vh;
  --whitespace-l: 10vh;
}

html {
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 135%;
  font-size: var(--fs-regular);
  overflow-x: hidden;
}

html,
body,
.moving-section,
.polyglotBijbel-section,
.nav-small {
  background-image: url('assets/img/grain-background.svg');
  background-repeat: repeat;
}

.hidden {
  display: none;
}

.container {
  max-width: 85%;
  margin: auto;
}

.longRead-bug {
  max-width: 90%;
}

.grid-template_textFirst,
.grid-template_imgFirst {
  align-items: center;
  display: grid;
  justify-items: center;
  gap: 2vw;
}

.grid-template_textFirst {
  grid-template-columns: 35vw 55vw;
}

.grid-template_imgFirst {
  grid-template-columns: 55vw 35vw;
}

.highlight-brown {
  color: var(--color-title);
  font-weight: 700;
}

.highlight-white {
  color: var(--color-background);
  font-weight: 700;
}

.title-white,
.text-white {
  color: var(--color-background);

}

.title-brown {
  color: var(--color-title);
}

.chapter_One-quote,
.chapter_Two-quote,
.chapter_Three-quote {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: var(--whitespace-l) 0;
}

.chapter_One-quote,
.chapter_Two-quote,
.chapter_Three-quote {
  text-align: center;
}

h2 {
  font-family: var(--font-family-quote);
  font-size: var(--fs-xxl);
  font-weight: 400;
}

h2,
.quote,
.quote-name {
  color: var(--color-title);
  font-style: italic;
}

.quote-name {
  font-family: var(--font-family-quote);
  font-size: var(--fs-l);
}

.quote {
  font-size: var(--fs-l);
}

h1,
h3 {
  font-size: var(--fs-xl);
  margin-bottom: 2vh;
  line-height: 120%;
  font-weight: 700;
}

.grey-Btn {
  background-color: var(--color-second-background);
  color: var(--color-background);
}

.grey-Btn:hover {
  color: var(--color-second-background);
  border: 1px solid var(--color-second-background);
}

.brown-Btn {
  background-color: var(--color-title);
  color: var(--color-background);
}

.nav-Btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-second-background);
  color: var(--color-background);
  text-decoration: none;
  border: none;
  padding: 1.5vh 2vh;
  transition: 0.3s ease-in-out;
}

.nav-Btn:hover {
  border: 1px solid var(--color-second-background);
  color: var(--color-second-background);
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.brown-Btn:hover {
  border: 1px solid var(--color-title);
  color: var(--color-title);
}

.button {
  padding: 1vh 2vh;
  border: none;
  font-family: var(--font-family);
  font-size: var(--fs-regular);
  transition: 0.3s ease-in-out;
}

.button:hover {
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.nav__list {
  border-bottom: var(--color-text) solid 1px;
  padding: 3vh 0 3vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--color-text);
}

.nav__button {
  display: none;
}

.nav__link:hover {
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid var(--color-title);
  color: var(--color-title);
}

.nav__button {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;
  /* reset button styles */
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
  /*safari*/
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.hambergerMenu-Btn,
.nav__button {
  display: none;
}



.nav-small {
  background-color: var(--color-background);
  padding-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 7vh;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.header-section {
  margin-top: 2vh;
}

.readmore-btn {
  background-color: transparent;
  border: none;
  border-bottom: var(--color-second-background) 1px solid;
  font-size: var(--fs-m-regular);
  font-family: var(--font-family);
  font-style: italic;
  color: var(--color-second-background);
  padding: 1vh;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.readmore-btn:hover {
  padding: 1vh 1.5vh;
  transition: 0.2s ease-in-out;
}

.readmore-btn_container {
  margin: 2vh 0vh;
  display: flex;
  justify-content: center;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.grid-template_kathedraal,
.grid-template_antwerp-statue {
  display: grid;
  grid-template-columns: 35vw 55vw;
}

.grid-template_kathedraal {
  display: grid;
  grid-template-columns: 35vw 55vw;
  align-items: center;
  margin: -1vh -1vh;
}

.grid-template_antwerp-statue {

  align-items: center;
}

.statue-antwerp_img {
  margin-bottom: -0.7vh;
}

.enveloppe {
  cursor: pointer;
}

.moving-section {
  background-color: var(--color-second-background);
}

.moving-article {
  padding-top: 10vh;
}

.netwerk-container {
  max-width: 50%;
}

.polyglotBijbel-section {
  background-color: var(--color-second-background);
}

.polyglotBijbel-container {
  display: grid;
  grid-template-columns: repeat(3, 35%);
}

.stories-text {
  text-align: center;
}

footer {
  background-color: var(--color-second-background);
  background-image: url('assets/img/grain-background.svg');
}

.footer_list-container {
  display: flex;
  flex-direction: row;
  color: var(--color-background);
  justify-content: space-around;
  padding: 5vh 0;
  align-items: center;
}

.footer_titles {
  font-weight: 700;
  margin-bottom: 1vh;
  text-transform: uppercase;
}

.footer_link {
  color: var(--color-background);
  text-decoration: none;
}

.footer_item {
  margin-bottom: var(--whitespace-small);
}

@media screen and (max-width: 60em) {
  .nav {
    width: 100vw;
  }

  .hambergerMenu-Btn,
  .nav__button {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }

  .nav-Btn {
    white-space: nowrap;
    padding: 1vh;
  }

  .header-grid,
  .grid-template_textFirst {
    display: flex;
    flex-direction: column;
  }

  .grid-template_antwerp-statue {
    display: flex;
    flex-direction: column-reverse;
  }

  .netwerk-container {
    max-width: 100%
  }

  .header-title {
    text-align: center;
  }

  .footer_list-container {
    flex-direction: column;
  }

  .footer_list {
    border-bottom: 1px var(--color-background) solid;
    width: 100%;
  }

  .footer_item {
    text-align: center;
    margin-bottom: var(--whitespace-small);
  }

  .footer_titles {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 1vh 0;
  }

  .footer_titles:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }

  .footer_link:hover {
    transition: 0.3s ease-in-out;
    border-bottom: var(--color-background) solid 1px;
  }
}