:root {
  --color-text: #5D4F3C;
  --color-background: #EDEAE5;
  --color-second-background: #887C67;
  --color-title: #A88658;

}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}